<h1>New Song</h1>
<form action="/songs" method="post">
  <label for="name">Name</label><br>
  <input id="name" type="text" name="song[name]">
  <br><br>

  <label for="artist_name">Artist Name</label><br>
  <input id="artist_name" type="text" name="artist[name]">
  <br><br>

  <h3>Genres: </h3>
  <% @genres.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <label for="<%= genre.name %>"><%= genre.name %></label><br>
  <% end %>
  <br>

  <input type="submit" value="Create Song">
</form>
